// typography
$font-stack: 'Lato', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

$font-size: calc(10px + 1vmin);



// colors
$primary-txt: #333;
$secondary-txt: #9C9A9F;
